/**
 * Place your custom styles here.
 */
.view-content{
	text-align: center;
 }
 .views-row{
 	margin-bottom: 60px;
	 border-bottom: 1px solid #50457B;
 }
h2 a{
	color: black;
}
h2 a:hover{
	color: #50457B;
	text-decoration: none;
}
.menu.menu--main.nav.navbar-nav a{
	color: black;
	border-left: 1px solid grey;
}
.menu.menu--main.nav.navbar-nav a:hover{
	color: whitesmoke;
	background-color: #50457B;
}
.navbar.navbar-default.container{
	background-color: transparent;
	border: none;
}
.input-group-btn button{
	background-color: #50457B;
}
a{
	color: #50457B;
}
.views-col {
 width: 50%; 
}
.naujienos-grid {
	margin-top: 40px;
}
.naujienos5-grid{
	padding: 10px;
}
body{
	background-image: url("clem-onojeghuo-197838-unsplash.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 20%;
}
.menu.menu--account.nav.navbar-nav.navbar-right a{
	color: #232323;
}
.menu.menu--account.nav.navbar-nav.navbar-right a:hover{
	color: whitesmoke;
	background-color: #50457B;
}
.author{
	display: none;
}
.col-12.col-md-6.naujienos_main_page{
	display: block;
	background-color: #0a65aa;
}
.feed-icons{
	text-align: center;
}
.footer.container{
	text-align: center;
	background-color: #232323;
}